body {
    font-family: sans-serif;
    background-color: #ffffff;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.file-upload {
    margin: 0 auto;
    padding: 13% 3%;
    /* width: 600px; */
    /* height: 45vw; */
    border-radius: 10px;
    border: solid 1.5px #f6f7fa;
    background-color: #f6f7fa;
}



.file-upload-btn {
    width: 100%;
    margin: 0;
    color: #fff;
    background: #1FB264;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #15824B;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

.file-upload-btn:hover {
    background: #1AA059;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
}

.file-upload-btn:active {
    border: 0;
    transition: all .2s ease;
}

.file-upload-content {
    display: none;
    text-align: center;
}

.file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
}

.image-upload-wrap {
    /* margin-top: 15px; */
    border: 2px dashed #35465d;
    position: relative;
    /* object-fit: contain; */
    border-radius: 10px;
    width: 65%;
    margin: 0 auto;
}

.image-dropping,
.image-upload-wrap:hover {
    background-color: #35465d;
    border: 1.5px dashed #ffffff;
}

.image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
}

.drag-text {
    text-align: center;
}

.drag-text h3 {
    font-weight: 100;
    text-transform: uppercase;
    color: #15824B;
    /* padding: 60px 0; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.9rem;
    line-height: 1.53;
    text-align: center;
    color: #35465d;
    padding: 0;
    width: 70%;
    margin: 0 auto;
}

.file-upload-image {
    max-height: 500px;
    max-width: 500px;
    margin: auto;
    padding: 20px;
}

.remove-image {
    width: 200px;
    margin: 0;
    color: #fff;
    background: #cd4535;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #b02818;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

.remove-image:hover {
    background: #c13b2a;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
}

.remove-image:active {
    border: 0;
    transition: all .2s ease;
}

.nav-distance {
    padding: 2.1% 7.7%;
}

.nav-distance .navbar-brand {
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.68;
    text-align: left;
    color: #35465d;
}


.navbar-toggler {
    /* border: var(--bs-border-width) solid #ffffff; */
    border-color: #ffffff;
}

.section {
    margin-top: 100px;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.68;
    text-align: center;
    color: #35465d;
    margin-left: 2%;
}

.subtitle {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.68;
    text-align: center;
    color: #35465d;
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
    html {
        font-size: 10px;
    }

    .navbar-brand {
        font-size: 1.8rem;
    }
}

/* @media screen and (max-width: 770px) {
    .upload-text {
        font-size: 18px;
    }
}

@media screen and (max-width: 910px) {
    .image-upload-wrap {
        width: 50%;
    }
} */

.youtube-link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    line-height: 1.71;
    text-align: center;
    color: #f73737;
    text-decoration: underline;
    text-underline-position: under;
}

.youtube-link:hover {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    line-height: 1.71;
    text-align: center;
    color: #f73737;
    text-decoration: underline;
    text-underline-position: under;
}

.smile-icon {
    /* padding: 3px; */
    width: 5%;
}



/* .image-upload-wrap {
    object-fit: contain;
    border-radius: 10px;
    border: dashed 2px #35465d;
    background-color: #ffffff;
}

.image-upload-wrap:hover {
    object-fit: contain;
    border-radius: 10px;
    border: dashed 3px #ffffff;
    background-color: #35465d;
} */

/* .upload.mt-5{
    width: 20%;
} */
/* .drag-text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.9rem;
    line-height: 1.53;
    text-align: center;
    color: #35465d;
    padding: 0;
    width: 70%;
    margin: 0 auto;
} */

.upload-image-icon {
    opacity: 0.9;
    width: 300px;
    height: 150px;

    object-fit: fill;
}

.upload-image-icon:hover {
    opacity: 0.3
}

.upload-text {}

.explain {
    /* margin: 50% auto; */
    text-align: center;
    font-size: 18px;
}